header {

    .header {
        background-color: #000;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: white;
            display: inline-block;
            transition: all 0.25s;

            &:hover {
                color: orange;
            }
        }

        .header-top__logo {
            img {
                width: 6.25rem;
                height: 1.875rem;

            }
        }

        .header-top__user {
            display: flex;
            align-items: center;
            justify-content: center;

            .user__actived {
                color: orange
            }

            .header-user__item {
                margin: 0px 0.625rem;

            }

            .header-user__item:nth-child(2) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    nav {

        .header-menu {
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                margin-right: 1.25rem;

                a {
                    color: #000;

                    &::after {
                        content: "";
                        display: block;
                        border-bottom: 1px solid #000;
                        width: 0;
                        transition: all 0.25s;
                        height: 2px;
                    }

                    &:hover {
                        &::after {
                            content: "";
                            display: block;
                            border-bottom: 1px solid #000;
                            width: 100%;
                            height: 2px;
                        }
                    }
                }
            }

            .actived {
                &::after {
                    content: "";
                    display: block;
                    border-bottom: 1px solid #000;
                    width: 100%;
                    height: 2px;

                }
            }
        }
    }
}

@include responsive('mobile') {
    header {
        .header-top {
            .header-top__user {
                .header-user__item {
                    margin-right: 5px;
                    font-size: 12px;

                    &:nth-child(1) {
                        font-size: 15px;

                        span {
                            display: none;
                        }
                    }

                }


            }


        }

        nav {
            font-size: 12px;
        }
    }
}