.home {
    padding-top: 10px;
    padding-bottom: 30px;

    .carousel {
        .carousel-item {
            margin: 0;
            color: #000;
            align-items: center;
            justify-content: center;
            display: flex;
            background-color: #ccc;
            height: 20rem;

        }
    }
}

@include responsive('mobile') {
    .home {
        padding: 10px 0 20px 0;

        .home__feature {
            h3 {
                font-size: 18px;
            }
        }

        .carousel {
            .carousel-item {
                height: 19rem;

                h2 {
                    font-size: 1.125rem;
                }

                p {
                    font-size: 0.938rem;
                }

                a {
                    font-size: 0.875rem;
                }
            }
        }
    }
}