.register {


    .register__group {
        p {
            margin: 0;
        }

        margin-bottom: 10px;

    }

    .register__group-radio {
        padding-top: 30px;

        p {
            margin: 0;
            padding-right: 10px;
        }

        .radio {


            input[type="radio"] {

                display: none;
            }

            label {
                position: relative;
                margin: 0;
                padding-right: 10px;
                padding-left: 35px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    border: 2px solid #6200EE;
                }
            }

            input[type="radio"]:checked~label::after {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #6200EE;
                top: 50%;
                transform: translateY(-50%);
                left: 4px;
            }
        }
    }

    .register__btn {
        margin-top: 15px;
        background-color: #6200EE;
        color: #fff;
        border: none;
        padding: 10px 25px;
        border-radius: 25px;
    }

}

@include mobile() {
    .register {
        .register__group-radio {
            padding-top: 10px;
        }
    }
}

@include tablet() {
    .register {
        .register__group-radio {
            padding-top: 20px;
        }
    }
}